    #mypage {
        background-color: black; /* violet; sandybrown; sienna  saddlebrown;*/
        color: white;		/*text-decoration-color: darkblue;*/
        font-size : 13px;
        font-family: Verdana,Arial;
        padding-left: 2px;
        margin-left: 2px;
    }
    .text-white { color: #FFF; }
    select option[selected="selected"]{
        color: green;
    }
    /*
    #pagebody {
      background: url(../assets/images/entrance.jpg) no-repeat center center fixed; 		
    }
    input {
        background-color: white;
        color: black;
    }
    */
    #pagebody { 
        /*background: url(../assets/images/entrance.jpg) no-repeat center center fixed; */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #pagebody1 {
        color: black;		/*text-decoration-color: darkblue;*/
    }
    .form-control {
        font-size : 14px;
        height: 24px;
        /*
        margin-top: -10px;
        margin-bottom:4px;
        */
    }
    .label-control {
        font-size : 14px;
        height: 24px;
        /*
        margin-top: -10px;
        margin-bottom:4px;
        */
    }
    
    .row-bottom-margin { margin: 0px !important; }
    .footer {
        position: fixed;
        left: 0;
        bottom: 2px;
        width: 100%;
        background-color: blue;
        color: white;
        text-align: center;
    }
    .myheader {
        z-index: 100 !important;
        position: fixed;
        top:   5px;
        width: 100%;
        height: 40px;
        padding-top: 10px; 
        text-align: center !important; 
        background-color: blue; 
        color: white;
    }    
    input,input:valid {
        border-color: blue;
        background-color: lightblue;
    }
    input,input:invalid {
        border-color: red;
        background-color: pink;
    }
    textarea,textarea:valid {
        border-color: blue;
        background-color: lightblue;
    }
    textarea,textarea:invalid {
        border-color: red;
        background-color: pink;
    }
    select,select:invalid {
        border-color: red;
        background-color: pink;        
    }
    select,select:valid {
        border-color: blue;
        background-color: lightblue;
    }
    select {
        font-size : 14px;
        height: 24px !important;
        /*
        background-color: violet !important;
        */
        color: black !important; 
        padding: 0px !important;      
    }
    .navbar a{
        color: black;
        font-size: 13px;
    }
    .bluecolor {
        background-color: gray !important;  /*pink */
        color: white;
    }
    .panelbackground{
        background-color: lightblue !important;   /* lightblue sandybrown !important; */
        color: black !important;
    }    
    fieldset{
        border : 1px solid black !important;
        padding : 10px;
        position: relative;
        border-radius:4px;
        padding-left:10px!important;
    }
